*.[oa]
*~
*.o
*.cmd
*.order
*.builtin
*.d
.config
*.tmp*
.version
System.map
Module.symvers
arch/arm/include/generated/
arch/arm/kernel/asm-offsets.s
include/config/
include/generated/
kernel/bounds.s
scripts/mod/devicetable-offsets.s
vmlinux
.config.old
security/selinux_n/av_permissions.h
security/selinux_n/flask.h
dt.img
